@import url("https://fonts.googleapis.com/css?family=Roboto:300");

.login-form {
  background-color: #ffffff;
}

.login-main {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #333;
}

.text-login {
  color: #5391d4;
}

#showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/bg-login-page.jpg") no-repeat center center / cover;
  height: 100vh;
  text-align: center;
}

#showcase .showcase-text {
  font-size: 3rem;
  width: 100%;
  color: #fff;
  margin-bottom: 1.5rem;
}

#showcase .secondary-btn {
  width: 60%;
  margin: auto;
}

.secondary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 1px solid #f4f4f4;
  border-radius: 2px;
  font-weight: 500;
  background: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.secondary-btn:hover {
  border-color: #96c2f1;
  color: #96c2f1;
}

.btn-login-form {
  background-color: #5391d4;
  height: 3rem;
}

.btn-login-form:hover {
  background-color: #5391d4;
}

.btn-register {
  border: 1px solid black;
  color: #333;
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn-register:hover {
  border: 1px solid black;
  color: #333;
}

/* Footer */
#main-footer {
  color: #333;
  text-align: center;
  font-size: 0.8rem;
  max-width: 80%;
  padding-top: 8rem;
}

#main-footer a {
  color: #f96816;
  text-decoration: underline;
}

@media (max-width: 1250px) {
  .left-login-form {
    width: 100%;
  }

  .logo-login-form {
    margin-top: 40px;
  }
}
