@import url("https://fonts.googleapis.com/css?family=Roboto:300");

.sign-up-form {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #333;
}

.btn-next-to {
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-radius: 1px;
  border-color: #333;
}

/* Footer */
#main-footer-signup {
  color: #333;
  text-align: center;
  font-size: 0.8rem;
  max-width: 80%;
  padding-top: 3rem;
}

#main-footer-signup a {
  color: #f96816;
  text-decoration: underline;
}

.bg-signup {
  background-image: linear-gradient(
      rgba(101, 101, 167, 0.8),
      rgba(72, 72, 145, 0.8)
    ),
    url("/frontImg.jpg");
  background-position: center;
  background-size: cover;
}

.showcase-content-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
}

.showcase-content-signup-text,
.showcase-content-signup-text-second {
  font-size: 2.8rem;
  width: 100%;
  color: #fff;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.showcase-content-signup-text-second {
  font-size: 1.8rem;
}
