@import "variables";

.dropdown {
  position: relative;
  .dropdown-select {
  }

  .dropdown-main {
    position: absolute;
    top: 150%;
    left: -20%;
    width: 300px;
    background-color: #fff;
    display: flex;

    .dropdown-option {
    }
  }
}
