@import "variables";

.dropdown {
  position: relative;
  &__select {
    position: relative;
    &:hover {
      color: $text-color;
    }

    &:hover::after {
      position: absolute;
      height: 150%;
      width: 300px;
      bottom: -120%;
      left: -10px;
      content: "";
      // z-index: 1000;
    }
  }
  &__options {
    position: absolute;
    left: -10%;
    top: 140%;
    background-color: #fff;
    width: 300px;
    padding: 8px 14px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: 14px;
      padding: 10px 0;

      span {
        flex: 1;
        margin-right: auto;
        font-size: 18px;
      }

      &:hover {
        color: $text-color;
      }
    }
  }
}
