@import "variables";

.dropdown {
  position: relative;

  &__options {
    position: absolute;
    bottom: -150%;
    left: -10%;
    background-color: #333;
    width: 200px;
    padding: 4px 10px;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: 16px;

      span {
        width: 80%;
        margin-right: auto;
      }

      &:hover {
        color: $primary-color;
      }
    }
  }
}
