@import "variables";

.dropdown {
  position: relative;

  &__options {
    position: absolute;
    bottom: 0;
    left: -10%;
    background-color: #fff;
    width: 240px;
    padding: 4px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: 14px;

      span {
        flex: 1;
        margin-right: auto;
        font-size: 18px;
      }

      &:hover {
        color: #5624d0;
      }
    }
  }
}
