.dropdown {
  position: relative;

  &__options {
    position: absolute;
    bottom: -20px;
    left: 0;
    background-color: red;
    display: flex;
    justify-content: space-between;
  }
}

.dropdown__options {
  position: absolute;
  bottom: -20px;
  left: 0;
  background-color: red;
  display: flex;
  justify-content: space-between;
}
