.dropdown {
  position: relative;

  &__options {
    position: absolute;
    bottom: -100%;
    left: 0;
    background-color: red;
    width: 200px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      span {
        width: 80%;
        margin-right: auto;
      }
    }
  }
}
